<html>
<head>
    <title>login</title>
</head>
<script>

    function checkEmail(){
        var emailifo=$("#email").val();
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/Learn-Spring-MVC/list",
            data: {"listParam" : strList},
            dataType: "json",
            success: function(data){
                var obj=$.parseJSON(data);
                $("#emailMes").html("");
                $("#emailMes").text(obj.warnMsg);
            },
            error:function (data) {
                
            }
        });
    }

</script>

<body>
<form method="post" action="/userInfor/findByUser_phone_numAndUser_password">
    用户名：<input name="user_phone_num" type="text"><br/>
    密码：<input name="user_password" type="password"> <br/>
    <input name="Submits" type="submit" value="登录"/>
    <input name="ReSet" type="reset" value="重置"/>
    <!--<a href="register.jsp"><input type="button"  value="注册"/></a>-->

</form>
</body>
</html>
